<om-aurora>
    <div class="content">
      <div class="container bg-slate-900 p-5 grid grid-cols-2 h-screen">
        <om-border-beam>
          <form>
            <div class="w-full mb-4 border border-gray-200 rounded-lg bg-gray-50 dark:bg-gray-700 dark:border-gray-600">
              <div class="flex items-center justify-between px-3 py-2 border-b border-gray-200 dark:border-gray-600">
                <div class="flex flex-wrap items-center divide-gray-200 sm:divide-x sm:rtl:divide-x-reverse dark:divide-gray-600">
                  <!-- Buttons and other elements -->
                </div>
                <button type="button" data-tooltip-target="tooltip-fullscreen" class="p-2 text-gray-500 rounded-sm cursor-pointer sm:ms-auto hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600">
                  <!-- SVG for full screen -->
                </button>
                <div id="tooltip-fullscreen" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-xs opacity-0 tooltip dark:bg-gray-700">
                  Show full screen
                  <div class="tooltip-arrow" data-popper-arrow></div>
                </div>
              </div>
              <div class="px-4 py-2 bg-white rounded-b-lg dark:bg-gray-800">
                <label for="editor" class="sr-only">Publish post</label>
                <textarea id="editor" rows="12" class="block w-full px-0 text-sm text-gray-800 bg-white border-0 dark:bg-gray-800 focus:ring-0 dark:text-white dark:placeholder-gray-400" placeholder="Write an article..." required></textarea>
              </div>
            </div>
            <div class="flex flex-col items-center justify-center">
              <button type="submit" class="inline-flex items-center justify-center px-7 py-3.5 text-sm font-medium text-center text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-900 hover:bg-blue-800">
                Analyze
              </button>
            </div>
          </form>
        </om-border-beam>
        <div class="container mx-auto px-3 py-3">
          <div class="flex flex-col items-center justify-center">
            <h1 class="text-2xl font-bold text-white">Result</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab rem, amet velit, laborum quaerat, voluptate harum asperiores laudantium quia libero tenetur molestiae est expedita quidem modi molestias unde quo. Illo!</p>
          </div>
        </div>
      </div>
    </div>
  </om-aurora>